<ion-content [fullscreen]="true">
    <ion-title class="ion-padding-top ion-text-center">
        <ion-label>
            <h1></h1>
        </ion-label>
    </ion-title>
    <div class="ion-padding-vertical">
        <ion-card class="ion-text-center">
            <ion-card-title class="ion-text-center">
                <ion-label>
                    <h1>TeLlevoApp</h1>
                </ion-label>
            </ion-card-title>
            <ion-card-content>
                <ion-item>
                    <ion-label position="floating"> Usuario </ion-label>
                    <ion-input type="text" [(ngModel)]="user" maxlenght="8" minlenght="4"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating"> Password </ion-label>
                    <ion-input type="password"></ion-input>
                </ion-item>
                <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
            </ion-card-content>
            <ion-button shape="block" (click)="crearCuenta()">Crear Cuenta</ion-button>
            <ion-button shape="block" (click)="ingresar()">Ingresar</ion-button>
            <ion-button shape="block" (click)="restablecer()">Restablecer Contraseña</ion-button>
        </ion-card>
    </div>
</ion-content>