<ion-header>
    <img class="item-banner" src="assets/Banner.png" />
</ion-header>

<ion-content>
    <div class="ion-padding-vertical">
        <ion-card class="ion-text-center">
            <ion-card-header>
                <ion-card-title class="ion-text-left">Reestablecer Contraseña</ion-card-title>
            </ion-card-header>
            <div class="ion-padding vertical">
                <form [formGroup]="form" (submit)="submit()">
                    <div>
                        <mat-form-field class="input-large ion-padding-vertical">
                            <mat-label>Correo</mat-label>
                            <input matInput formControlName="correo" [(ngModel)]="correo" required />
                            <mat-error *ngIf="form.controls.correo.touched && form.controls.correo.invalid">
                                <span *ngIf="form.controls.correo.errors.required">Ingresa el correo de tu cuenta DuocUC.</span
                >
              </mat-error>
            </mat-form-field>
          </div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="ion-padding-horizontal ion-padding-vertical"
          >
            Restablecer
          </button>
          <button mat-raised-button color="primary" (click)="atras()">
            Atrás
          </button>
        </form>
      </div>
    </ion-card>
  </div>
</ion-content>